*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
.idea
scripts
output-origin/flower/cameras.json
output-origin/flower/cfg_args
output-origin/flower/chkpnt5000.pth
output-origin/flower/chkpnt10000.pth
output-origin/flower/input.ply
output-origin/flower/point_cloud/iteration_10000/point_cloud.ply
output-origin/flower/point_cloud/iteration_5000/point_cloud.ply
output-origin/fortress/cameras.json
output-origin/fortress/cfg_args
output-origin/fortress/chkpnt5000.pth
output-origin/fortress/chkpnt10000.pth
output-origin/fortress/input.ply
output-origin/fortress/point_cloud/iteration_10000/point_cloud.ply
output-origin/fortress/point_cloud/iteration_5000/point_cloud.ply
output-origin/horns/cameras.json
output-origin/horns/cfg_args
output-origin/horns/chkpnt5000.pth
output-origin/horns/chkpnt10000.pth
output-origin/horns/input.ply
output-origin/horns/point_cloud/iteration_10000/point_cloud.ply
output-origin/horns/point_cloud/iteration_5000/point_cloud.ply
output-origin/leaves/cameras.json
output-origin/leaves/cfg_args
output-origin/leaves/input.ply
.gitignore
output-4/blender/chair_8views/cameras.json
output-4/blender/chair_8views/cfg_args
output-4/blender/chair_8views/chkpnt3000.pth
output-4/blender/chair_8views/chkpnt5000.pth
output-4/blender/chair_8views/chkpnt10000.pth
output-4/blender/chair_8views/input.ply
output-4/blender/chair_8views/opt_args
output-4/blender/chair_8views/point_cloud/iteration_10000/point_cloud.ply
output-4/blender/chair_8views/point_cloud/iteration_3000/point_cloud.ply
output-4/blender/chair_8views/point_cloud/iteration_5000/point_cloud.ply
output-4/blender/chair_8views/point_cloud/iteration_6000/point_cloud.ply
output-4/blender/chair_8views/point_cloud/iteration_7000/point_cloud.ply
output-4/blender/chair_8views/test/ours_10000/gt/r_0.png
output-4/blender/chair_8views/test/ours_10000/gt/r_66.png
output-4/blender/chair_8views/test/ours_10000/gt/r_132.png
output-4/blender/chair_8views/test/ours_10000/gt/r_199.png
output-4/blender/chair_8views/test/ours_10000/renders/r_0.png
output-4/blender/chair_8views/test/ours_10000/renders/r_66.png
output-4/blender/chair_8views/test/ours_10000/renders/r_132.png
output-4/blender/chair_8views/test/ours_10000/renders/r_199.png
output-4/blender/chair_8views/train/ours_10000/gt/r_0.png
output-4/blender/chair_8views/train/ours_10000/gt/r_14.png
output-4/blender/chair_8views/train/ours_10000/gt/r_28.png
output-4/blender/chair_8views/train/ours_10000/gt/r_42.png
output-4/blender/chair_8views/train/ours_10000/gt/r_56.png
output-4/blender/chair_8views/train/ours_10000/gt/r_70.png
output-4/blender/chair_8views/train/ours_10000/gt/r_84.png
output-4/blender/chair_8views/train/ours_10000/gt/r_99.png
output-4/blender/chair_8views/train/ours_10000/renders/r_0.png
output-4/blender/chair_8views/train/ours_10000/renders/r_14.png
output-4/blender/chair_8views/train/ours_10000/renders/r_28.png
output-4/blender/chair_8views/train/ours_10000/renders/r_42.png
output-4/blender/chair_8views/train/ours_10000/renders/r_56.png
output-4/blender/chair_8views/train/ours_10000/renders/r_70.png
output-4/blender/chair_8views/train/ours_10000/renders/r_84.png
output-4/blender/chair_8views/train/ours_10000/renders/r_99.png
output-4/blender/lego_8views/cameras.json
output-4/blender/lego_8views/cfg_args
output-4/blender/lego_8views/chkpnt3000.pth
output-4/blender/lego_8views/chkpnt5000.pth
output-4/blender/lego_8views/chkpnt10000.pth
output-4/blender/lego_8views/input.ply
output-4/blender/lego_8views/point_cloud/iteration_10000/point_cloud.ply
output-4/blender/lego_8views/point_cloud/iteration_3000/point_cloud.ply
output-4/blender/lego_8views/point_cloud/iteration_5000/point_cloud.ply
output-4/fern/cameras.json
output-4/fern/cfg_args
output-4/fern/chkpnt2000.pth
output-4/fern/chkpnt3000.pth
output-4/fern/chkpnt4000.pth
output-4/fern/chkpnt5000.pth
output-4/fern/chkpnt6000.pth
output-4/fern/chkpnt7000.pth
output-4/fern/chkpnt8000.pth
output-4/fern/chkpnt10000.pth
output-4/fern/input.ply
output-4/fern/point_cloud/iteration_10000/point_cloud.ply
output-4/fern/point_cloud/iteration_2000/point_cloud.ply
output-4/fern/point_cloud/iteration_3000/point_cloud.ply
output-4/fern/point_cloud/iteration_5000/point_cloud.ply
output-4/fern/test/ours_10000/gt/IMG_4026.png
output-4/fern/test/ours_10000/gt/IMG_4028.png
output-4/fern/test/ours_10000/gt/IMG_4029.png
output-4/fern/test/ours_10000/gt/IMG_4030.png
output-4/fern/test/ours_10000/gt/IMG_4031.png
output-4/fern/test/ours_10000/gt/IMG_4032.png
output-4/fern/test/ours_10000/gt/IMG_4033.png
output-4/fern/test/ours_10000/gt/IMG_4034.png
output-4/fern/test/ours_10000/gt/IMG_4035.png
output-4/fern/test/ours_10000/gt/IMG_4037.png
output-4/fern/test/ours_10000/gt/IMG_4038.png
output-4/fern/test/ours_10000/gt/IMG_4039.png
output-4/fern/test/ours_10000/gt/IMG_4040.png
output-4/fern/test/ours_10000/gt/IMG_4041.png
output-4/fern/test/ours_10000/gt/IMG_4042.png
output-4/fern/test/ours_10000/gt/IMG_4043.png
output-4/fern/test/ours_10000/gt/IMG_4044.png
output-4/fern/test/ours_10000/renders/IMG_4026.png
output-4/fern/test/ours_10000/renders/IMG_4028.png
output-4/fern/test/ours_10000/renders/IMG_4029.png
output-4/fern/test/ours_10000/renders/IMG_4030.png
output-4/fern/test/ours_10000/renders/IMG_4031.png
output-4/fern/test/ours_10000/renders/IMG_4032.png
output-4/fern/test/ours_10000/renders/IMG_4033.png
output-4/fern/test/ours_10000/renders/IMG_4034.png
output-4/fern/test/ours_10000/renders/IMG_4035.png
output-4/fern/test/ours_10000/renders/IMG_4037.png
output-4/fern/test/ours_10000/renders/IMG_4038.png
output-4/fern/test/ours_10000/renders/IMG_4039.png
output-4/fern/test/ours_10000/renders/IMG_4040.png
output-4/fern/test/ours_10000/renders/IMG_4041.png
output-4/fern/test/ours_10000/renders/IMG_4042.png
output-4/fern/test/ours_10000/renders/IMG_4043.png
output-4/fern/test/ours_10000/renders/IMG_4044.png
output-4/fern/test/ours_3000/gt/IMG_4026.png
output-4/fern/test/ours_3000/gt/IMG_4028.png
output-4/fern/test/ours_3000/gt/IMG_4029.png
output-4/fern/test/ours_3000/gt/IMG_4030.png
output-4/fern/test/ours_3000/gt/IMG_4031.png
output-4/fern/test/ours_3000/gt/IMG_4032.png
output-4/fern/test/ours_3000/gt/IMG_4033.png
output-4/fern/test/ours_3000/gt/IMG_4034.png
output-4/fern/test/ours_3000/gt/IMG_4035.png
output-4/fern/test/ours_3000/gt/IMG_4037.png
output-4/fern/test/ours_3000/gt/IMG_4038.png
output-4/fern/test/ours_3000/gt/IMG_4039.png
output-4/fern/test/ours_3000/gt/IMG_4040.png
output-4/fern/test/ours_3000/gt/IMG_4041.png
output-4/fern/test/ours_3000/gt/IMG_4042.png
output-4/fern/test/ours_3000/gt/IMG_4043.png
output-4/fern/test/ours_3000/gt/IMG_4044.png
output-4/fern/test/ours_3000/renders/IMG_4026.png
output-4/fern/test/ours_3000/renders/IMG_4028.png
output-4/fern/test/ours_3000/renders/IMG_4029.png
output-4/fern/test/ours_3000/renders/IMG_4030.png
output-4/fern/test/ours_3000/renders/IMG_4031.png
output-4/fern/test/ours_3000/renders/IMG_4032.png
output-4/fern/test/ours_3000/renders/IMG_4033.png
output-4/fern/test/ours_3000/renders/IMG_4034.png
output-4/fern/test/ours_3000/renders/IMG_4035.png
output-4/fern/test/ours_3000/renders/IMG_4037.png
output-4/fern/test/ours_3000/renders/IMG_4038.png
output-4/fern/test/ours_3000/renders/IMG_4039.png
output-4/fern/test/ours_3000/renders/IMG_4040.png
output-4/fern/test/ours_3000/renders/IMG_4041.png
output-4/fern/test/ours_3000/renders/IMG_4042.png
output-4/fern/test/ours_3000/renders/IMG_4043.png
output-4/fern/test/ours_3000/renders/IMG_4044.png
output-4/fern/train/ours_10000/gt/IMG_4027.png
output-4/fern/train/ours_10000/gt/IMG_4036.png
output-4/fern/train/ours_10000/gt/IMG_4045.png
output-4/fern/train/ours_10000/renders/IMG_4027.png
output-4/fern/train/ours_10000/renders/IMG_4036.png
output-4/fern/train/ours_10000/renders/IMG_4045.png
output-4/fern/train/ours_3000/gt/IMG_4027.png
output-4/fern/train/ours_3000/gt/IMG_4036.png
output-4/fern/train/ours_3000/gt/IMG_4045.png
output-4/fern/train/ours_3000/renders/IMG_4027.png
output-4/fern/train/ours_3000/renders/IMG_4036.png
output-4/fern/train/ours_3000/renders/IMG_4045.png
output-4/fern-dino/cameras.json
output-4/fern-dino/cfg_args
output-4/fern-dino/chkpnt2000.pth
output-4/fern-dino/chkpnt3000.pth
output-4/fern-dino/input.ply
output-4/fern-dino/point_cloud/iteration_2000/point_cloud.ply
output-4/fern-dino/point_cloud/iteration_3000/point_cloud.ply
output-4/fern-dino-v2/cameras.json
output-4/fern-dino-v2/cfg_args
output-4/fern-dino-v2/chkpnt2000.pth
output-4/fern-dino-v2/chkpnt3000.pth
output-4/fern-dino-v2/input.ply
output-4/fern-dino-v2/point_cloud/iteration_2000/point_cloud.ply
output-4/fern-dino-v2/point_cloud/iteration_3000/point_cloud.ply
output-4/fern-dino-v3/cameras.json
output-4/fern-dino-v3/cfg_args
output-4/fern-dino-v3/input.ply
output-4/fern-dino-v4/cameras.json
output-4/fern-dino-v4/cfg_args
output-4/fern-dino-v4/chkpnt2000.pth
output-4/fern-dino-v4/chkpnt3000.pth
output-4/fern-dino-v4/input.ply
output-4/fern-dino-v4/point_cloud/iteration_2000/point_cloud.ply
output-4/fern-dino-v4/point_cloud/iteration_3000/point_cloud.ply
output-4/fern-dino-v4-10k/cameras.json
output-4/fern-dino-v4-10k/cfg_args
output-4/fern-dino-v4-10k/chkpnt2000.pth
output-4/fern-dino-v4-10k/chkpnt3000.pth
output-4/fern-dino-v4-10k/chkpnt5000.pth
output-4/fern-dino-v4-10k/chkpnt10000.pth
output-4/fern-dino-v4-10k/input.ply
output-4/fern-dino-v4-10k/point_cloud/iteration_10000/point_cloud.ply
output-4/fern-dino-v4-10k/point_cloud/iteration_2000/point_cloud.ply
output-4/fern-dino-v4-10k/point_cloud/iteration_3000/point_cloud.ply
output-4/fern-dino-v4-10k/point_cloud/iteration_5000/point_cloud.ply
output-4/fern-dino-vt/cameras.json
output-4/fern-dino-vt/cfg_args
output-4/fern-dino-vt/chkpnt2000.pth
output-4/fern-dino-vt/chkpnt3000.pth
output-4/fern-dino-vt/input.ply
output-4/fern-dino-vt/point_cloud/iteration_2000/point_cloud.ply
output-4/fern-dino-vt/point_cloud/iteration_3000/point_cloud.ply
output-4/fern-gfc-a/cameras.json
output-4/fern-gfc-a/cfg_args
output-4/fern-gfc-a/chkpnt2000.pth
output-4/fern-gfc-a/chkpnt3000.pth
output-4/fern-gfc-a/input.ply
output-4/fern-gfc-a/point_cloud/iteration_2000/point_cloud.ply
output-4/fern-gfc-a/point_cloud/iteration_3000/point_cloud.ply
output-4/fern-gfc-b/cameras.json
output-4/fern-gfc-b/cfg_args
output-4/fern-gfc-b/chkpnt2000.pth
output-4/fern-gfc-b/chkpnt3000.pth
output-4/fern-gfc-b/chkpnt7000.pth
output-4/fern-gfc-b/chkpnt10000.pth
output-4/fern-gfc-b/input.ply
output-4/fern-gfc-b/point_cloud/iteration_10000/point_cloud.ply
output-4/fern-gfc-b/point_cloud/iteration_2000/point_cloud.ply
output-4/fern-gfc-b/point_cloud/iteration_3000/point_cloud.ply
output-4/fern-gfc-b/point_cloud/iteration_7000/point_cloud.ply
output-4/fern-gfc-b-10k/cameras.json
output-4/fern-gfc-b-10k/cfg_args
output-4/fern-gfc-b-10k/chkpnt2000.pth
output-4/fern-gfc-b-10k/chkpnt3000.pth
output-4/fern-gfc-b-10k/chkpnt5000.pth
output-4/fern-gfc-b-10k/chkpnt10000.pth
output-4/fern-gfc-b-10k/input.ply
output-4/fern-gfc-b-10k/point_cloud/iteration_10000/point_cloud.ply
output-4/fern-gfc-b-10k/point_cloud/iteration_2000/point_cloud.ply
output-4/fern-gfc-b-10k/point_cloud/iteration_3000/point_cloud.ply
output-4/fern-gfc-b-10k/point_cloud/iteration_5000/point_cloud.ply
output-4/orchids/cameras.json
output-4/orchids/cfg_args
output-4/orchids/chkpnt3000.pth
output-4/orchids/chkpnt5000.pth
output-4/orchids/chkpnt10000.pth
output-4/orchids/input.ply
output-4/orchids/point_cloud/iteration_10000/point_cloud.ply
output-4/orchids/point_cloud/iteration_3000/point_cloud.ply
output-4/orchids/point_cloud/iteration_5000/point_cloud.ply
output-fix/fern-10k-stable/cameras.json
output-fix/fern-10k-stable/cfg_args
output-fix/fern-10k-stable/chkpnt3000.pth
output-fix/fern-10k-stable/chkpnt10000.pth
output-fix/fern-10k-stable/input.ply
output-fix/fern-10k-stable/point_cloud/iteration_10000/point_cloud.ply
output-fix/fern-10k-stable/point_cloud/iteration_3000/point_cloud.ply
output-fix/fern-high-reg/cameras.json
output-fix/fern-high-reg/cfg_args
output-fix/fern-high-reg/chkpnt3000.pth
output-fix/fern-high-reg/chkpnt10000.pth
output-fix/fern-high-reg/input.ply
output-fix/fern-high-reg/point_cloud/iteration_10000/point_cloud.ply
output-fix/fern-high-reg/point_cloud/iteration_3000/point_cloud.ply
output-fix/orchids/cameras.json
output-fix/orchids/cfg_args
output-fix/orchids/chkpnt3000.pth
output-fix/orchids/chkpnt10000.pth
output-fix/orchids/input.ply
output-fix/orchids/point_cloud/iteration_10000/point_cloud.ply
output-fix/orchids/point_cloud/iteration_3000/point_cloud.ply
output-fix/orchids-final-mix/cameras.json
output-fix/orchids-final-mix/cfg_args
output-fix/orchids-final-mix/chkpnt7000.pth
output-fix/orchids-final-mix/input.ply
output-fix/orchids-final-mix/point_cloud/iteration_7000/point_cloud.ply
