*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
.idea
scripts
output-origin/flower/cameras.json
output-origin/flower/cfg_args
output-origin/flower/chkpnt5000.pth
output-origin/flower/chkpnt10000.pth
output-origin/flower/input.ply
output-origin/flower/point_cloud/iteration_10000/point_cloud.ply
output-origin/flower/point_cloud/iteration_5000/point_cloud.ply
output-origin/fortress/cameras.json
output-origin/fortress/cfg_args
output-origin/fortress/chkpnt5000.pth
output-origin/fortress/chkpnt10000.pth
output-origin/fortress/input.ply
output-origin/fortress/point_cloud/iteration_10000/point_cloud.ply
output-origin/fortress/point_cloud/iteration_5000/point_cloud.ply
output-origin/horns/cameras.json
output-origin/horns/cfg_args
output-origin/horns/chkpnt5000.pth
output-origin/horns/chkpnt10000.pth
output-origin/horns/input.ply
output-origin/horns/point_cloud/iteration_10000/point_cloud.ply
output-origin/horns/point_cloud/iteration_5000/point_cloud.ply
output-origin/leaves/cameras.json
output-origin/leaves/cfg_args
output-origin/leaves/input.ply
